<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="/css/lib.css">
		<link rel="stylesheet" type="text/css" href="/css/base.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/js/vue.min.js"></script>
		<script type="text/javascript" src="/bizScript/footer.js"></script>
		<script type="text/javascript" src="/bizScript/header.js"></script>
		<script type="text/javascript" src="/bizScript/constants.js"></script>
		<script>
			$(function() {
				if(!$("#mindex").length) {
					$('body').addClass('sscreen')
				}
			})
		</script>
		<script type="text/javascript" src="/js/org.min.js" data-main="baseMain"></script>
		<script type="text/javascript" src="/js/form.min.js"></script>
		<title>内页详情</title>

	</head>

	<body class="nobanner">
	<div id="app">
		<div class="bodyMask"> </div>
		<div id="header" class="index_nav">

			<div class="content">
				<a href="index.html" id="logo"><img src="/images/logo.png" height="60" /></a>
				<ul id="nav">
					<menu-item :item="item" :index="index" v-for="(item, index) in menuList"></menu-item>
				</ul>
				<div class="clear"></div>
			</div>
			<a id="headSHBtn" href="#"><i class="fa fa-bars"></i></a>
		</div>
		<div id="sitecontent">

			<div class="npagePage newsl">
				<div class="content">
					<div class="header fw">
						<p class="title">{{plan.ranknametwo}}·软件组成</p>
			
					</div>
					<div class="fw postbody" id="content">
						
					</div>
					<input id='contents' type='hidden' value='{{plan.contentsss}}' />
				</div>
			</div>
		</div>
		<!-- 底部区域 -->
		<side-footer :footer="footer"></side-footer>
		</div>
	</body>
	<script type="text/javascript">
	$(function(){
$("#content").html($("#contents").val())


	})
		var vm = new Vue({
			el:'#app',
			components: {
		    	'side-footer': footDiv
		  	},
		  	data : {
		  		footer:{
		  			'corpname':FOOTER.CORPNAME,
			  		'qqcode':FOOTER.QQCODE,
			  		'telno':FOOTER.TELNO,
			  		'corpaddress':FOOTER.CORPADDRESS,
			  		'zipcode':FOOTER.ZIPCODE,
			  		'mobileno':FOOTER.MOBILENO,
			  		'faxno':FOOTER.FAXNO,
			  		'corpemail':FOOTER.CORPEMAIL,
			  		'sideauthor':FOOTER.SIDEAUTHOR,
			  		'siderecord':FOOTER.SIDERECORD
		  		},
		  		menuList:menuList
		  	}
		})
	</script>
</html>